{% extends 'base.html.twig' %}

{% block title %}Offers list!{% endblock %}

{% block body %}
    <div class="flex justify-center gap-6 flex-wrap h-screen">
        {% for offer in offers %}
            {% include '/offer/_card.html.twig' %}
        {% endfor %}
    </div>
{% endblock %}