# Default ignored files
/../../pawfect-sitter /.idea/shelf/
/../../pawfect-sitter /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../pawfect-sitter /.idea/httpRequests/
# Datasource local storage ignored files
/../../pawfect-sitter /.idea/dataSources/
/../../pawfect-sitter /.idea/dataSources.local.xml
